@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Webkit browsers (Chrome, Safari) */
.slider::-webkit-scrollbar {
  width: 15px; /* Scrollbar width */
  height: 10px;
}

.slider::-webkit-scrollbar-track {
  background: #e6e6e6; /* Light gray background */
}

.slider::-webkit-scrollbar-thumb {
  background: #151515; /* Black scroll thumb */
  width: 100px;
  border-radius: 15px; /* Optional: rounded corners */
}

.slider::-webkit-scrollbar-thumb:hover {
  background: #333; /* Darker black when hovered */
}
